.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;
}

.navigation {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin: 20px 10px 20px 50px;
  gap: 10px;
}

.irecLogo {
  width: 100%;
  max-width: 40px;
}

.themeLogo {
  width: 70%;
  height: auto;
}

.logoTextContainer {
  font-family: "Carlito", sans-serif;
  line-height: 1.2em;
}

.logoText1 {
  font-size: 26px;
  color: var(--text-color-black);
}

.logoText2 {
  font-size: 22px;
  color: var(--color-primary);
  font-family: "Pacifico";
}

.navigationItem {
  padding: 16px 20px;
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: var(--text-color-gray);
  text-decoration: none;
}

.navigationItem:hover {
  color: var(--text-hover);
  text-decoration: underline;
}

.menuBurger {
  display: none;
}

@media screen and (max-width: 850px) {
  .headerMobileContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--bg-color-light);
  }

  .logoContainer {
    margin: 20px 8px 20px 0;
    gap: 8px;
  }

  .irecLogo {
    max-width: 30px;
  }

  .themeLogo {
    width: 55%;
  }

  .logoTextContainer {
    font-family: "Carlito", sans-serif;
    line-height: 1em;
  }

  .logoText1 {
    font-size: 20px;
  }

  .logoText2 {
    font-size: 18px;
  }

  .navigationItem {
    display: none;
  }

  .menuBurger {
    display: unset;
  }
}
