.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;

  background-color: gray;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin: 16px 20px;
}

.navigationItem {
  padding: 16px 20px;
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: #cccccc;
  text-decoration: none;
}

.navigationItem:hover {
  color: #f0f0f0;
}
