.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin: 20px 20px;
  width: 100%;
  max-width: 40px;
}

.navigationItem {
  padding: 16px 20px;
  font-family: "Carlito", sans-serif;
  font-size: 16px;
  color: #cccccc;
  text-decoration: none;
}

.navigationItem:hover {
  color: #f0f0f0;
}

.menuBurger {
  display: none;
}

@media screen and (max-width: 850px) {
  .headerMobileContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #040a0a;
  }

  .logo {
    margin: 20px 0;
    max-width: 30px;
  }

  .navigationItem {
    display: none;
  }

  .menuBurger {
    display: unset;
  }
}
