.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;

  font-family: "Carlito", sans-serif;
  color: #fffeff;
  line-height: 1.7rem;
  margin: 20px 0;
}

.programContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program {
  max-width: 80%;
}

.pageTitle {
  font-size: 46px;
  font-weight: 700;
  margin: 20px 0;
}

.pieceTitle {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 15px 0;
  color: #f96401;
}

.composer {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0 5px 0;
}

.description {
  font-size: 16px;
  font-weight: 700;
}
