.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;

  font-family: "Carlito", sans-serif;
  color: var(--text-color-black);
  line-height: 1.7rem;
  margin: 20px 0;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 46px;
  font-weight: 700;
  margin: 20px 0;
}

.container2 {
  margin: 35px 0;
  line-height: 2rem;
}

.textSmall {
  font-size: 18px;
  font-weight: 700;
}

.textMedium {
  font-size: 20px;
  /* font-weight: 700; */
}

.textBig {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.textContainer {
  margin: 40px 0;
}

/* .image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
} */

@media screen and (max-width: 850px) {
  .containerWidth {
    max-width: 850px;
    margin: 10px 0;
  }

  /* .container {
  } */

  .pageTitle {
    font-size: 40px;
    margin: 10px 0;
  }

  .textSmall {
    font-size: 16px;
  }

  .textMedium {
    font-size: 18px;
  }

  .textBig {
    font-size: 23px;
  }

  .textContainer {
    margin: 20px 0;
  }

  /* .image {
    max-width: 450px;
  } */
}
