.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #040a0a; */
  background-color: #010812;
  /* background: linear-gradient(#5de0e6, #004aad); */

  min-height: 100vh;
}
