.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;

  font-family: "Carlito", sans-serif;
  color: #fffeff;
  line-height: 1.7rem;
  margin: 20px 0;
  flex: 1;
}

.artistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist {
  max-width: 80%;
}

.pageTitle {
  font-size: 46px;
  font-weight: 700;
  margin: 20px 0;
}

.artistName {
  font-size: 30px;
  font-weight: 700;
  margin: 45px 0 25px 0;
  color: var(--color-orange);
}

.artistIntrument {
  font-size: 20px;
  color: #fffeff;
}

.artistDescription {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.artistImage {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .containerWidth {
    max-width: 850px;
    margin: 10px 0;
  }

  .artist {
    max-width: unset;
  }

  .pageTitle {
    font-size: 40px;
    margin: 10px 0;
  }

  .artistName {
    font-size: 27px;
    margin: 45px 0 25px 0;
  }

  .artistIntrument {
    font-size: 18px;
  }

  .artistDescription {
    gap: 15px;
    font-size: 16px;
  }

  .artistImage {
    max-width: 450px;
  }
}
