.containerWidth {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;

  font-family: "Carlito", sans-serif;
  color: #fffeff;
  line-height: 1.7rem;
  margin: 20px 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 46px;
  font-weight: 700;
  margin: 20px 0;
}

.concertTitle {
  font-size: 36px;
  font-weight: 700;
  margin: 35px 0 35px 0;
  line-height: 2rem;
}

.textSmall {
  font-size: 18px;
}

.textMedium {
  font-size: 20px;
  font-weight: 700;
}

.textBig {
  font-size: 26px;
  font-weight: 700;
}

.textContainer {
  margin: 10px 0;
}

.leitung {
  margin-top: 20px;
}
/* 
@media screen and (max-width: 850px) {
  .containerWidth {
    max-width: 850px;

    margin: 10px 0;
  }

  .imageContainer {
    position: relative;
  }

  .rsvp {
    position: absolute;
    top: 7.5%;
  }

  .buttonLabel {
    font-size: 18px;
    font-family: "Carlito", sans-serif;
    font-weight: 700;
  }
} */
