/* Mobile & Smaller screen */
@media screen and (max-width: 850px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #040a0a;
    border: none;
    padding: 0;
    padding-bottom: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dropdownContainer {
    width: 100vw;
    max-width: 450px;
    left: 0;
  }

  .rsvp {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: none;
    border: none;
    margin: 26px 0;
  }

  .buttonLabel {
    font-size: 18px;
    font-family: "Carlito", sans-serif;
    /* font-weight: 700; */

    letter-spacing: 0.18em;
    line-height: 20px;
  }

  .item {
    padding: 0;
    justify-content: center;
  }

  .burger,
  .burger::before,
  .burger::after {
    background-color: #fffeff;
  }

  .menuText {
    display: block;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 24px;
    font-weight: 500;
    font-family: "Carlito", sans-serif;
    color: #fffeff;
    text-align: left;
    margin: 0;
    text-decoration: none;
    width: 100%;
    padding: 12px 40px;
    font-weight: 700;
  }

  .menuText:hover {
    color: var(--color-orange);
  }

  .activeMenu {
    font-weight: bold;
  }
}
